# Standard: alles als Text behandeln, LF im Repo
* text=auto eol=lf

# Explizit C/C++/Header auf LF
*.c  text eol=lf
*.h  text eol=lf

# .ld, .ioc etc. stabil halten:
*.ld  text eol=lf
*.ioc text eol=lf