# ------------------------------------------------------------
# Allowlist: standardmäßig alles ignorieren
# ------------------------------------------------------------
*

# Repo-Metadateien behalten
!.gitignore
!.gitattributes
!.gitmodules
!README.md
!LICENSE

# (Optional) GitHub config
!.github/
!.github/**

# Diese zwei Bäume versionieren
!00_Dokumentation/
!00_Dokumentation/01_Projektvault/
!00_Dokumentation/01_Projektvault/**

!20_Software/
!20_Software/**

# Submodule
!50_Quellen
!50_Quellen/
!50_Quellen/**

# ------------------------------------------------------------
# Ignore
# ------------------------------------------------------------

# Python
**/.venv/
**/__pycache__/
**/*.py[cod]
**/*.pytest_cache/

# IDE
**/.idea/
**/.vscode/

# OS
**/.DS_Store
**/Thumbs.db

# Logs & Daten
**/logs/
**/data/

# STM32CubeIDE/Eclipse Build-Artefakte
**/Debug/
**/Release/
**/.settings/
**/.metadata/
**/*.launch
